html{
  height:100vh;
  width:100vw;
  margin:0;
}

body{
  background-image: linear-gradient(to bottom, rgb(2, 27, 51) 33%, rgba(54,69,79,1) 87%);
  background-size: auto;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0);
  margin: auto;
  width: auto;
  font-family:'lato',sans-serif;
  color:#dcdbd5;
  background-attachment: fixed;
} 

.posts-card{
  margin: 20px;
  border: 2px solid beige;
  background-color: rgb(159, 143, 89);
  color:lightgray;
  padding: 10px;

}

.mx-2 {
  color:#dcdbd5;
}

.mx-2:hover {
  color:rgb(255,242,194);
}

#navbar-comp {
  margin-top: -80px;
}

/* .navbar-toggler-icon , .navbar-toggler, .navbar-toggler-icon{
  
  border: 2px solid red;
} */

@media (min-width:1840px) {
  .home-text {
    border: 2px solid #afafaf;
    margin-bottom: 30px;
    font-size: 14px;
    padding-left:20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 0 5px 2px #758793;
    border-radius: 15px;
    width:10vw;
    margin-top:30px;
  }

  #welcome-header {
    font-size: 35px;
  }
}

@media (max-width:1839px) {
  .home-text {
    margin-bottom: 30px;
  }

  #welcome-header {
    margin-bottom: 30px;
    font-size: 25px;
  }
}

#home-text-container {
  display: flex;
  justify-content: space-evenly;
  height: auto;
  flex-wrap: wrap;
}

.home-text-headers {
  font-size: 20px;
  font-weight: bold;
}

.form-page {
  position: absolute;
  left:50%;
  transform: translate(-50%, 0);
  top:30%;
  display:flex;
  flex-direction: column;
  border: solid 3px #afafaf;
  box-shadow: 0 0 5px 2px #758793;
  padding: 25px;
}

.form-page-headers {
  position: absolute;
  left:50%;
  transform: translate(-50%, 0);
  top:-25%;
  
}

.form-buttons {
  margin-top:12px;
  margin-bottom: 5px;
  position: relative;
  left:25%;
  width: 50%;
}

.favorites-page-headers {
  width:60vw;
  display:flex;
  align-items: center;
  flex-direction: column;
}

.verse-modal {
  z-index:4;
  color: rgba(0, 0, 0, 1);  
  background-image: linear-gradient(to bottom, rgb(2, 27, 51) 33%, rgba(54,69,79,1) 87%);
  
}
.see-chapter {
  color: black;
  position: relative;
  top: 57px;
  left: 28px;
  z-index: 3;
  background-color: transparent;
}

#favorites-page {
  display:flex;
  justify-content: flex-start;
}

.scrollable {
  max-height: 300px;
  min-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
}
.journal-entry{
  background-color:lightgrey;
  color:black;
  /* transition: color 0.3s ease;  */
}
.journal-entry:hover {
  background-color:white;
}

.fade-in-out {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.fade-out {
  opacity: 0;
}
.passage-card{
  background-color: rgb(254, 248, 231);
  /* border: 2px solid #afafaf; */
  /* box-shadow: 0 0 5px 2px #758793; */
  width: 45vw;
  color:black;
}

.card-header {
  background-color: rgb(248, 234, 198) ;
}

.passagecard-button {
  background-color: transparent;
  border: 'black 2px solid';
  color:black;
}

.list-text {
  margin-bottom: 6px;
  font-size: 18px;
}

.list-text:hover {
  color:rgb(255,242,194);
}