body {
  background-image: linear-gradient(to bottom, rgb(2, 27, 51) 33%, rgba(54,69,79,1) 87%);
  background-size: auto;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0);
}

#root {
  margin: 0;
  height: auto;
  width: auto;
  font-family:'lato',sans-serif;
  color:#dcdbd5;
}

.mx-2 {
  /* color: rgb(182, 170, 100); */
  background-color: rgb(2, 27, 51);
  color:#dcdbd5;
}

#navbar-comp {
  margin-top: -80px;
}

.home-text {
  border: 2px solid #afafaf;
  margin-bottom: 30px;
  font-size: 30px;
  padding-left:20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 0 5px 2px #758793;
  border-radius: 15px;
}

#welcome-text {
  width: 40vw;
}