html{
  height:100vh;
  width:100vw;
  margin:0;
}

body{
  background-image: linear-gradient(to bottom, rgb(2, 27, 51) 33%, rgba(54,69,79,1) 87%);
  background-size: auto;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0);
  margin: auto;
  width: auto;
  font-family:'lato',sans-serif;
  color:#dcdbd5;
  background-attachment: fixed;
} 

.posts-card{
  margin: 20px auto;
  border: 2px solid beige;
  background-color: rgb(164, 143, 73);
  color: black;
  padding: 10px;
  width: 50vw;
  

}

.AndrewsPhoto {
  border: 2px solid red;
  border-radius: 8px;
  width: 600px;
}

.mx-2 {
  color:#dcdbd5;
}

.mx-2:hover {
  color:rgb(255,242,194);
}

#navbar-comp {
  margin-top: -80px;
}

/* .navbar-toggler-icon , .navbar-toggler, .navbar-toggler-icon{
  
  border: 2px solid red;
} */

@media (min-width:1840px) {
  .home-text {
    border: 2px solid #afafaf;
    margin-bottom: 30px;
    font-size: 14px;
    padding-left:20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 0 5px 2px #758793;
    border-radius: 15px;
    width:10vw;
    margin-top:30px;
  }

  #welcome-header {
    font-size: 35px;
  }
}

@media (max-width:1839px) {
  .home-text {
    margin-bottom: 30px;
  }

  #welcome-header {
    margin-bottom: 30px;
    font-size: 25px;
  }
}

#home-text-container {
  display: flex;
  justify-content: space-evenly;
  height: auto;
  flex-wrap: wrap;
}

.home-text-headers {
  font-size: 20px;
  font-weight: bold;
}

.form-page {
  position: absolute;
  left:50%;
  transform: translate(-50%, 0);
  top:30%;
  display:flex;
  flex-direction: column;
  border: solid 3px #afafaf;
  box-shadow: 0 0 5px 2px #758793;
  padding: 25px;
}

.form-page-headers {
  position: absolute;
  left:50%;
  transform: translate(-50%, 0);
  top:-25%;
  
}

.form-buttons {
  margin-top:12px;
  margin-bottom: 5px;
  position: relative;
  left:25%;
  width: 50%;
  background-color: transparent;
  color: #dcdbd5;
  /* color:#fff2c2; */
  border: 1px solid #dcdbd5
}

.favorites-page-headers {
  width:60vw;
  display:flex;
  align-items: center;
  flex-direction: column;
}

.verse-modal {
  color: rgba(0, 0, 0, 1);  
  background-image: linear-gradient(to bottom, rgb(2, 27, 51) 33%, rgba(54,69,79,1) 87%);
  overflow-y: auto;
}

.modal-backdrop {
  --bs-backdrop-zindex: 1050;
  --bs-backdrop-bg: none;
  --bs-backdrop-opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--bs-backdrop-zindex);
  width: 100vw;
  height: 100vh;
}

.modal-body{
  overflow-y: auto;
  /* scroll-behavior: smooth; */
  max-height: 90vh;
}

.modal-title {
  color:black;
}

.see-chapter {
  color: black;
  position: relative;
  top: 62px;
  left: 34px;
  z-index: 3;
  background-color: transparent;
}

#favorites-page {
  display:flex;
  justify-content: flex-start;
}

.scrollable {
  max-height: 300px;
  min-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  overflow-x: hidden; /* Hide the vertical scroll bar */
  overflow-y: scroll;
}

.fade-in-out {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.fade-out {
  opacity: 0;
}
.passage-card{
  background-color: rgb(254, 248, 231);
  /* border: 2px solid #afafaf; */
  /* box-shadow: 0 0 5px 2px #758793; */
  width: 45vw;
  color:black;
}

.delete-button {
  margin-left: 20px;
}

.card-header {
  background-color: rgb(248, 234, 198) ;
}

.bio-card {
  width: 100%;
  background-color: rgb(254, 248, 231);
  padding: 1%;
  margin-bottom: 1%;
}

.bio-image {
  max-width: 50%;
  max-height: auto;
  object-fit: cover;
}

.bio-text {
  width: 100%;
 
}

@media (min-width: 769px) {
  .bio-card {
    height: 35vh;
    overflow-y: auto;
  }

  .bio-image {
    height: 100%;
  }
}

@media (max-width: 768px) {
  .bio-card {
    height: 50vh;
    overflow-y: auto;
  }

  .bio-image {
    width: 100%;
    height: 50vh;
  }

  .bio-text {
    width: 100%;
  }
}

.passagecard-button {
  background-color: transparent;
  border: 'black 2px solid';
  color:black;
}

.list-text {
  margin-bottom: 6px;
  font-size: 18px;
}

.list-text:hover {
  color:rgb(255,242,194);
}

.journal-form {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border-radius: 11px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
}
.journal-button {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(2, 27, 51);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.journal-button:hover {
  /* background-color: rgba(255, 255, 255, 1); */
  color: rgb(2, 27, 51);
}
.entry {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  margin: 20px 0;
  background: rgba(255, 255, 255, 0.01);
  
  /* text-indent: 25px; */
}

.entry h1 {
  margin-bottom: 10px;
  /* text-align: center; */
  color: rgb(238, 225, 164);
}

.entry p {
  margin-bottom: 15px;
  text-align: left;
  color: rgb(233, 225, 190);
}

.entry button {
  /* background-color: rgba(255, 255, 255, 0.8); */
  color: rgb(255, 255, 255);
  
}

.entry button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(2, 27, 51);
}

.journal-icon {
  margin-left: 25px;
  margin-right: 25px;
  cursor: pointer;
}
.delete-icon{
  color:rgb(247, 86, 86);
  cursor: pointer;
}
.edit-icon{
  color:rgb(184, 184, 184);
  cursor: pointer;
}
.plus-icon{
  border:1px solid;
  border-radius: 3px;
  padding:3px;
  margin-left:10px;
  transition: background-color 0.5s ease;
  cursor: pointer;
  
}
.plus-icon:hover{
background-color:white;

}
